/* CSS Reset
 * http://meyerweb.com/eric/tools/css/reset/ 
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header {
    width: auto;
    padding: 10px;
    background-color: #ddd;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#generate {
    margin: 10px;
    padding: 4px 8px;
    background-color: #52d017;
    border-radius: 10px;
}
#generate:hover {
    background-color: #72f037;
}

.spacer {
    flex: 1;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

color-display {
    flex: 1;
}

@media only screen and (max-width: 1200px) {
    html, body {
        overflow: initial;
    }

    #header {
        flex-direction: column;
    }

    #content {
        flex-direction: column;
    }
}
